/* tutorial: https://www.youtube.com/watch?v=wARbgs5Fmuw */
/* This allows responsive font scaling to be easily manipulated with a default set (mobile) and one Desktop scaling w/ Media query. */
:root {
  --ff-body: "Chakra Petch", sans-serif;

  /* Clamp prevents browsers from over/under sizing from scaling. 
   clam(min rem, set vw + amount, max rem) */
  --fs-xl: clamp(3rem, 16vw + 1rem, 10rem); /* Header font */
  --fs-lg: 1.8rem; /* Body title font */
  --fs-md: 1.4rem; /* Main body font */
  --fs-sm: 1.4rem; /* Subtitle font */
}
/* Min width has a "mobile first" mentality */
@media (min-width: 40em) {
  :root {
    --fs-xl: clamp(6rem, 16vw + 1rem, 10rem); /* Used for Welcome screen */
    --fs-lg: 2.1rem; /* Body title font */
    --fs-md: 1.2rem; /* Main body font */
    --fs-sm: 1.5rem; /* Subtitle font */
  }
}
/************************/
/* Generic Stuff */
html,
body {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

body {
  scroll-snap-type: y mandatory;
  height: 100%;
}
div{
  scroll-snap-align: start;
}

.btn-default {
  background-color: #ffffff;
  color: #7a7766;
  border-color: #7a7766;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-color: #7a7766;
  color: #fff;
  border-color: #ffffff;
}

/************************/
/* Navigation SECTION */
.navbar-custom {
  background-color: #454851;
  font-family: "Chakra Petch", sans-serif;
}
.nav-link {
  color: #bdcba4 !important;
}
.nav-link:hover {
  color: #7a7766 !important;
}

/************************/
/* WELCOME SECTION */

/* Viewport height (or vh) is INCREDIBLY IMPORTANT for this welcome screen. 
It will scale this container to always be 100% of the browsers' AVAILABLE viewing, no matter the browser size. 

MIN-HEIGHT is also INCREDIBLY IMPORTANT so that the text inside this container doesn't OVERFLOW when the browser gets small.
The height will flex above 40vh when needed for browser size. 
Tutorial: https://youtu.be/_sgF8I-Q1Gs */

/* Background for welcome header */
.welcome-custom {
  min-height: 30vh;
  /* To the middle you go... NOT GOOD PRACTICE...*/
  background-image: url(images/welcome-bg.png);
  background-size: cover;
  background-position: bottom center;
  /* Keeps the image CENTER in a static position */
  background-attachment: static;
  background-repeat: none;
  background-color: #ffffff;
}
/* Welcome text */
.intro-custom {
  color: white;
  font-family: "Righteous", cursive;
  font-size: var(--fs-xl);
  text-align: center;
}
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 3s;
  animation-name: animatebottom;
  animation-duration: 3s; 
}
@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#downArrow {
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* breathing */
  animation: animatebottom 7s, breathe 2s ease-in-out infinite;
}
/* Define the keyframes for the animation */
@keyframes breathe {
  
  0%, 100% {
    /* cale down the element slightly */
    transform: translate(-50%, -50%) scale(0.90);
  }
  50% {
    /* Scale up the element slightly */
    transform: translate(-50%, -50%) scale(0.95);
  }
}



/************************/
/* column above and below .intro-custom to vertically center text. */
.above-welcome {
  min-height: 35vh;
  background-image: url(images/welcome-bg.png);
  background-size: cover;
  background-position: bottom center;
  /* Keeps the image CENTER in a static position */
  background-attachment: static;
  background-repeat: none;
}
.below-welcome {
  min-height: 35vh;
  background-image: url(images/welcome-bg.png);
  background-size: cover;
  background-position: bottom center;
  /* Keeps the image CENTER in a static position */
  background-attachment: static;
  background-repeat: none;
}
/************************/
/* HERO SECTION Character */
.hero-xiv-custom {
  background-image: url(images/ffxiv_2024-01-11_13-13-18.png);
  background-size: cover;
  background-position: top center;
  /* Keeps the image CENTER in a static position */
  background-attachment: fixed;
  /* 100vh = 100% of the available height */
  height: 40vh;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  background-repeat: none;
}
.hero-xiv-custom2 {
  background-image: url(images/cherry1.png);
  background-size: cover;
  background-position: top center;
  /* Keeps the image CENTER in a static position */
  background-attachment: fixed;
  /* 100vh = 100% of the available height */
  height: 40vh;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  background-repeat: none;
}
.heyYou {
  font-size: 3px;
  text-align: center;
}
/************************/
/* Resume Section */
/* Avatar*/
.rounded-circle /* Remember; mobile first. Media query for the desktop. */ {
  height: 145px;
  width: 145px;
  position: relative;
  top: -50px;
  background-position: center;
  background-attachment: static;
  transition: all 1s;
  border: solid 3px white;
}
@media (min-width: 70em) {
  .rounded-circle {
    height: 165px;
    width: 165px;
    position: relative;
    top: -50px;
    background-position: top center;
    background-attachment: static;
    border: solid 3px white;
  }
}
/* Name + Subtext near avatar */
@media (max-width: 40em) {
  .content-heading {
    text-align: center;
  }
}

.entire-resume-custom {
  background-color: white;

  color: #7a7766;
}

.aboutMeChild {
  font-size: var(--fs-md);
  font-family: 'Single Day', cursive;
  padding-left: 45px;
  padding-right: 45px;
}
/* the text inside */
.portfolioChild {
  font-size: var(--fs-md);
  padding: 45px;
}
/************************/
/* ACROSS MULTIPLE SCENARIOS */
#h2,
.h2-custom {
  color: #bdcba4;
}
.bold-custom {
  font-family: "Righteous", cursive;
}

/* All h2 headers. */
.h2-custom {
  font-family: "Righteous", cursive;
  font-size: var(--fs-lg);
}
/* All h3 headers. */
.h3-custom {
  font-family: "Righteous", cursive;
  font-size: var(--fs-sm);
}

/************************/
/* About-Me Section */
.theDetailsParent {
  color: #fff;
  background-image: url(images/about-me-bg3.png);
  background-size: cover;
  background-position: top center;
  /* Keeps the image CENTER in a static position */
  background-attachment: fixed;
  background-repeat: none;
  background-color: #bdcba4;
}

/* Text inside */
.theDetailsChild {
  font-size: var(--fs-md);
  padding: 45px;
}

/************************/
/* Hero Cherry1 Section */

.portfolioChildHeader {
  background-color: #bdcba4;
  padding: 15px;
  font-family: "Righteous", cursive;
  font-size: var(--fs-lg);
  color: white;
}

.EXAMPLE {
  color: white;
}
/************************/

/************************/
/* column above and below .tangled-custom to vertically center text. */
.above-te {
  min-height: 15vh;
  background-image: url(images/welcome-bg.png);
  background-size: cover;
  background-position: bottom center;
  /* Keeps the image CENTER in a static position */
  background-attachment: static;
  background-repeat: none;
}
.below-te {
  min-height: 15vh;
  background-image: url(images/welcome-bg.png);
  background-size: cover;
  background-position: bottom center;
  /* Keeps the image CENTER in a static position */
  background-attachment: static;
  background-repeat: none;
}

/************************/
/* Hero Cherry2 Section */
.hero-cherry2-custom {
  background-image: url(images/cherry2.png);
  background-size: cover;
  /* Keeps the image CENTER in a static position */
  background-attachment: static;
  /* 100vh = 100% of the available height */
  min-height: 29vh;
  background-color: #ff0000;
  background-repeat: none;
}

/************************/
/* Footer Section */
.footer-custom {
  background-color: #454851;
  color: rgb(167, 167, 167);
  text-align: center;
}

.btn.btn-social-icon {
  width: 50px;
  height: 50px;
  padding: 0;
}

.btn.btn-rounded {
  border-radius: 20px;
}
